@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap");
/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  --font-mono: "JetBrains Mono", monospace;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  :root {
    --noise-bg-color: rgba(0, 0, 0, 0.05);
    --noise-page-color: rgba(255, 255, 255, 0.1);
    --noise-opacity: 0.5;
    --noise-size: 3px;
  }
  
  @keyframes noise-animation {
    0% { background-position: 0 0; }
    100% { background-position: 100px 100px; }
  }
  
  .noise-overlay {
    position: absolute;
    inset: 0;
    background-image: var(--noise-bg-image);
    background-size: cover;
    opacity: 1;
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 1;
  }
  
  .noise-page-overlay {
    position: absolute;
    inset: 0;
    background-image: var(--noise-page-image);
    background-size: cover;
    opacity: 1;
    mix-blend-mode: multiply;
    pointer-events: none;
    z-index: 1;
  }
  